{% extends 'layout.html.twig' %}

{% block title %}Home – {{ parent() }}{% endblock %}

{% block content %}

  <p>
    Hello, visitor! You could <a href="{{ urlFor('login.page') }}">try to log in</a>, couldn't you?
  </p>
  <p>
    But if you do not have an account yet, <a href="{{ urlFor('signup.page') }}">you should sign up</a> first!
  </p>
{% endblock %}
