<!DOCTYPE html>
<html>
  <head>
    <meta charset="UTF-8">
    <title>{% block title %}Slim Test{% endblock %}</title>
{% block css %}
    <!-- <link rel="stylesheet" href="/assets/css/style.css" type="text/css" /> -->
{% endblock %}
  </head>
  <body>
    <div id="page-content">
{% block content %}
{% endblock %}
    </div>
{% block js %}
    <!-- <script src="/assets/js/script.js"></script> -->
{% endblock %}
  </body>
</html>
